@import "utils";

nav {
  background-color: white;
  height: 60px;

  .logo {
    margin-top: 5px;
    background-color: white;
    float: left;
    padding: 0 16px;
    font-size: 30px;
    font-family: 'Pangolin', cursive;
  }

  ul{

    li{
      display: inline-block;
      list-style-type: none;
      padding: 14px 16px;
      float: right;
      text-align: center;
      margin-top: 5px;

      a {
        color: $font-color;
        font-size: 20px;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
      }
    }
  }
}